/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.page {
    width: 100%;

    background-color: rgb(255, 255, 255);
}

/*! Header*/
.header {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    height: 150px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.header-text {
    margin-top: 30px;
    text-transform: uppercase;
    color: black;
    line-height: 1;
}

.header-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.header-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 37px;
}

.header-text p {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.header-logo img {
    width: 90px;
    margin-top: 30px;
}

.header-link {
    margin-top: 30px;
    display: block;

}
.header-link-telegram,
.header-link-watsapp
 {
    display: flex;
    margin-bottom: 10px;
}

.header-link a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font: bold 20px Montserrat, sans-serif;
    position: relative;
}

.header-link a::after {
    display: block;
    content: "";
    background-color: rgb(0, 0, 0);
    height: 1px;
    width: 0%;
    left: 50%;
    position: absolute;
    transition: width .4s ease-in-out;
    transform: translateX(-50%);
}

.header-link a:hover::after,
.header-link a:focus::after {
    width: 100%;
}
.header-img {
    width: 20px;
}

/*! Nav*/

.nav {
    display: block;
    height: 60px;
    background: linear-gradient(to bottom, #FF3399, #FF0066);

}
.nav-link {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1000px;
    font: normal 20px Roboto;
    line-height: 60px;

}
.nav-link a {
    display: inline-block;
    text-decoration: none;
    color: white;
    position: relative;
}

.nav-link a::after {
    background-color: #ffffff;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    left: 50%;
    bottom: 13px;
    position: absolute;
    transition: width .3s ease-in-out;
    transform: translateX(-50%);
}

.nav-link a:hover::after,
.nav-link a:focus::after
{
    width: 100%;
}
/*! Orientir*/
.orientir {
    max-width: 1000px;
    margin: 20px auto 0 auto;
    font: 16px Roboto;
    color: gray;
}

/*! Contacts*/

.contacts {
    display: flex;
    flex-direction: column;
    margin: 40px 0 0 13%;
    width: 300px;
    height: 300px;
    font: bold 24px Montserrat;
    position: relative;
}

.contact-link {
    position: relative;
    margin-bottom: 10px;
}

.contact-link a {
    position: absolute;
    top: 0;
    left: 15%;
    text-decoration: none;
    color: #333333;

}

.contact-link a:hover {
    color: black;
}

.contact-link  img {
    height: 30px;

}

/*! Footer*/
.footer {
    margin: 150px 0 30px 13%;
    font: normal 10px Montserrat;
}